@import './components.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    overflow-x: hidden;
    background-color: #f2f5ff;
}
