.upperSection--mainWrapper {
    &--upperSectionWrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 600px) {
            align-items: center;
        }
    }

    &--buttonsListWrapper {
        display: flex;
        align-items: center;
        gap: 15px;

        @media screen and (max-width: 600px) {
            min-width: 150px;
            flex-direction: column;
        }

        &__breakLine {
            width: 2px;
            height: 50%;
            background-color: #515052;
            border-radius: 10px;

            @media screen and (max-width: 600px) {
                display: none;
            }
        }

        button {
            display: flex;
            align-items: center;
            background-color: #fffcfc;
            gap: 5px;
            font-size: 1rem;
        }
    }

    &--selectedButtonWrapper {
        display: flex;
        align-items: center;
        gap: 3px;

        &__selectedType {
            transition: all 0.2s;
            color: #000103;

            &:hover {
                color: #5296a5;
                cursor: pointer;
            }

            &__active {
                color: #5296a5;
                font-weight: 600;
            }
        }

        &__count {
            background-color: rgb(81, 80, 82, 0.4);
            color: #fffcfc;
            padding-block: 2px;
            padding-inline: 8px;
            border-radius: 10px;
            transition: all 0.2s;

            &__active {
                background-color: #5296a5;
                padding-inline: 12px;
            }
        }
    }

    &__addTaskButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 5px;
        padding: 10px;
        font-size: 0.8rem;
        font-weight: 600;
        color: #000103;
        background-color: rgba(82, 150, 165, 0.5);
        transition: all 0.3s;
        max-height: 40px;

        &:hover {
            background-color: rgba(82, 150, 165, 0.7);
            cursor: pointer;
        }

        &__active {
            background-color: rgba(255, 116, 119, 0.7);

            &:hover {
                background-color: rgba(255, 116, 119, 1);
            }
        }
    }
}
